<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304636276243-h6bli4n2dlp1cthafp8728s3nkp71cd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304636276243-h6bli4n2dlp1cthafp8728s3nkp71cd6</string>
	<key>API_KEY</key>
	<string>AIzaSyDU6Srsrkn4jovNOe9CmSOtn2WlFIFPlV8</string>
	<key>GCM_SENDER_ID</key>
	<string>304636276243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>clean-tiktok</string>
	<key>STORAGE_BUCKET</key>
	<string>clean-tiktok.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304636276243:ios:c3a4dbc1ff46729e6c19e6</string>
</dict>
</plist>